@import './scss/vars';
@import './scss/mixins';
@import './scss/icons';
@import './scss/fonts';
@import '~@angular/material/theming';

$ng-app-primary: mat-palette($mat-teal);
$ng-app-accent: mat-palette($mat-blue);
$ng-app-warn: mat-palette($mat-red);
$ng-app-theme: mat-light-theme(
	$ng-app-primary,
	$ng-app-accent,
	$ng-app-warn
);
$theme: $ng-app-theme;

@include mat-core($custom-typography);
@include angular-material-theme($theme);

html, body, { height: 100%; }